<img class="gc" src="/viewable/slider/gc1.jpg">
<img class="gc" src="/viewable/slider/gc2.jpg">
<img class="gc" src="/viewable/slider/gc3.jpg">
<img class="gc" src="/viewable/slider/gc4.jpg">
<img class="gc" src="/viewable/slider/gc5.jpg">
<img class="gc" src="/viewable/slider/gc6.jpg">
<img class="gc" src="/viewable/slider/gc7.jpg">

<button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("gc");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  x[slideIndex-1].style.display = "block";
}
</script>

<!-- <div id=”gallery”>{% for image in include.images %}
  <img class=”mySlides” src=”{{ image }}”>{% endfor %}
  <button onclick=”plusDivs(-1)”>❮</button>
  <button onclick=”plusDivs(1)”>❯</button>
</div>
<script>
  var slideIndex = 1;showDivs(slideIndex);
  function plusDivs(n) {showDivs(slideIndex += n);}
  function showDivs(n) {
  var i;
  var x = document.getElementsByClassName(“mySlides”);
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {x[i].style.display = “none”;}
  x[slideIndex-1].style.display = “block”;
  }
</script> -->
