<link href="http://www.w3schools.com/lib/w3.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="w3-content w3-display-container slider" id="div2">
  <img class="mySlides" src="/viewable/slider/gc1.jpg">
  <img class="mySlides" src="/viewable/slider/gc2.jpg">
  <img class="mySlides" src="/viewable/slider/gc3.jpg">
  <img class="mySlides" src="/viewable/slider/gc4.jpg">
  <img class="mySlides" src="/viewable/slider/gc5.jpg">
  <img class="mySlides" src="/viewable/slider/gc6.jpg">
  <img class="mySlides" src="/viewable/slider/gc7.jpg">

  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div>
