<link href="http://www.w3schools.com/lib/w3.css" rel="stylesheet"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div class="w3-content w3-display-container slider" id="div1">
  <img class="mySlides" src="/viewable/slider/gsm1.jpg">
  <img class="mySlides" src="/viewable/slider/gsm2.jpg">
  <img class="mySlides" src="/viewable/slider/gsm3.jpg">
  <img class="mySlides" src="/viewable/slider/gsm4.jpg">

  <!--<a class="w3-btn-floating w3-display-left" onclick="plusDivs(this,-1)">&#10094;</a>
  <a class="w3-btn-floating w3-display-right" onclick="plusDivs(this,1)">&#10095;</a>-->
  <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
</div>

